## Call for Presentations {#call-for-presentations}
This workshop consists of invited talks on the general topic of memory-centric computing systems. There are a limited
number of slots for invited talks. If you would like to deliver a talk on related topics, **please contact us by filling
out [this form](https://forms.gle/ufZsy4LjMf1CfynH9)**.

We invite abstract submissions related to (but not limited to) the following topics in the context of memory-centric
computing systems:
  * Design of novel and new processing-in-memory (PIM) architectures, including system solutions for real state-of-the-art PIM devices
  * Analysis and mapping of novel applications to state-of-the-art PIM systems
  * Programming models and code generation support for PIM
  * Runtime engines for adaptive code and data scheduling, data mapping, access control for PIM systems
  * Memory coherence mechanisms for collaborative host–PIM execution
  * Virtual memory support for a unified host and PIM address space
  * Data structures and algorithms for PIM systems
  * Infrastructures to assess the benefits and feasibility of PIM systems, including benchmarks and simulation infrastructures for PIM prototyping
  * Issues related to robustness and security of PIM systems
  * Experimental analysis and benchmarking of real PIM systems

**Please submit your talk abstract by filling out [this form](https://forms.gle/ufZsy4LjMf1CfynH9)**.
