## Livestream {#livestream}

<div class="livestream-section">
  <h3>🔴 Can't attend in person? Join us live!</h3>
  <p>The workshop will be livestreamed on YouTube. A replay will also be available afterwards.</p>

  <div class="youtube-embed">
    <iframe src="https://www.youtube.com/embed/3wtg4sTp1qw" title="MCCSys 2026 Livestream" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <a href="https://youtube.com/live/3wtg4sTp1qw" class="livestream-link" target="_blank">▶️ Watch on YouTube</a>
</div>
